<header class="intro" style="padding-top:80px">
    <div class="intro-body">
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <p class="intro-text" style="vertical-align:bottom">Ingresa tu pedido <%= image_tag 'vapstick_smoke_white.png' %></p>
            </div>
            <div class="col-md-6" style="text-align:left">
                <p>Se paga contra entrega. Coordinaremos directamente contigo el horario en que despacharemos los productos.</p>
            </div>
        </div>
		<%= render 'form' %>
    </div>
</header>