<header class="intro" style="padding-top:0px">
    <div class="intro-body">
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <p class="intro-text" style="vertical-align:bottom">Contáctanos <%= image_tag 'vapstick_smoke_white.png' %></p>
            </div>
        </div>
		<%= render 'form' %>
    </div>
</header>